[% DEFAULT title = "TODO List" %]

<ul>[% FOREACH job IN incomplete_jobs %]
  <li>[% job.description %] |
    <a href="[% uri_for_action('edit', job.todo_list_item_id) %]">edit</a>
  </li>
[% END %]</ul>
<a href=[% uri_for_action('create') %]>Add A New Job</a>



